node_modules/
package-lock.json
*/*/.DS_Store
*/*.DS_Store
.DS_Store
*_autosave*
ergogen/pcbs/*.kicad_pro
ergogen/pcbs/*.kicad_prl
ergogen/pcbs/*.kicad_pcb.lck
prod/fp-info-cache
prod/production
ergogen/pcbs/production
ergogen/pcbs/fp-info-cache
